@page "/index"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>
    <a asp-page="/Users/Create" class="btn btn-primary">Cadastrar Novo Usuário</a>
</p>

<p>
    <a asp-page="/Users/Details" class="btn btn-primary">Detalhes</a>
</p>
